<p>
  <strong>Name:</strong>
  <%= @hacker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hacker.email %>
</p>

<%= link_to 'Edit', edit_hacker_path(@hacker) %> |
<%= link_to 'Back', hackers_path %>
