<h1>Welcome</h1>
<p><strong>Your current seniority is</strong>:
   <%= @assessor.current_seniority %> in the career <%= @assessor.career %></p>
<h1>To reach next level <%= @assessor.next_seniority %> this are the missing skills:</h1>

<ul class="requirements">
  <%= render @assessor.missing_requirements_for_next_seniority %>
</ul>
