<p>Hacker Assessor is a service and an on-premise tool for managing software teams
consistently based on data provided by each software team member within any given
project requirements.</p>

<p>By integrating with social data from services hackers already use such as GitHub
and Stack Overflow, Hacker Assessor will allow project leaders to get a good overview
of each of its team member’s strengths and weaknesses. Also, this tool will allow
team leaders to take action by offering suggestions about how to improve where
it’s lacking.</p>

<h1> GET STARTED!</h1>

<%= link_to 'SIGN UP NOW!' %>
or
<%= link_to 'FORK ME ON GITHUB!' %>

<p>Hacker Assesor is an Open Source project sponsored by Altoros.</p>
