<md-toolbar class="md-hue-1">
	<div>
		<div 
			class="md-toolbar-tools" 
			style='padding-top: 15px;' 
			layout='row' 
			layout-align='space-between'>
			<div flex="50">
				<a ui-sref='list'><h4><span>Hacker Assessor</span></h1></a>
			</div>          
			<div flex="35">
				<md-input-container>
				  <label>Hacker Name</label>
				  <input ng-model="CreateController.hacker.name" type="text">
				</md-input-container>
			</div>
			<div flex="15" layout='row' layout-align='center'>
				<md-button 
					class='md-raised' 
					flex='70'
					ng-click='CreateController.save()'>Save</md-button>
			</div>      
		</div>
	</div>
</md-toolbar>
<md-content>
	<div 
		ng-repeat='category in CreateController.questions' 
		ng-show='category.items.length'>
		<section>
			<md-subheader class="md-primary" ng-show='category.items.length'>
				<md-content>
					<div layout='row' layout-align='space-between' style='overflow: hidden;'>
						<span flex='50'>{{category.name}}</span>
						<div flex='50' layout='row' layout-align='space-between'>
							<span flex='45'>Level</span>
							<span flex='45'>Years</span>
						</div>
					</div>
				</md-content>
			</md-subheader>
			<md-list layout="column" style='overflow: hidden; padding-top: 10px;'>
				<div ng-repeat='item in category.items' style='padding-top: 10px;'>
					<ha-question 
						question='item' 
						save='CreateController.addSkill(states)'>
					</ha-question>
				</div>
			</md-list>
		</section>
	</div>
</md-content>