<div>
  <section ng-repeat='(key, question) in HackerController.questions'>
    <md-subheader class="md-primary">
      <md-content>
        <div layout-align='space-between' layout='row' style='overflow: hidden;'>
          <span flex='50'>{{question.name}}</span>
          <div flex='50' layout-align='space-between' layout='row'>
            <span flex='45'>Level</span>
            <span flex='45'>Years</span>
          </div>
        </div>
      </md-content>
    </md-subheader>
    <md-list layout="column" style='overflow: hidden; padding-top: 10px;'>
      <div ng-repeat='(key, data) in question.items' style='padding-top: 10px;'>
        <ha-question question='data' save='HackerController.hacker.addSkill(states, id)' skill='key'></ha-question>
      </div>
    </md-list>
  </section>
</div>
