<md-toolbar class="md-hue-1">
    <div>
        <div
            class="md-toolbar-tools"
            style='padding-top: 15px;'
            layout='row'
            layout-align='space-between'>
            <div flex="50">
                <a ui-sref='home'><h4><span>Hacker Assessor</span></h1></a>
            </div>
            <div flex="35"></div>
            <div flex="15" layout='row' layout-align='center'>
                <md-button
                    class='md-raised'
                    flex='70'
                    ng-click='HomeController.login()'>Login</md-button>
            </div>
        </div>
    </div>
</md-toolbar>
