<div layout="row" layout-padding>
  <h1>Hacker Assessor</h1>
</div>

<div ng-repeat='category in FormController.categories'>
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">
      <span>{{category.name}}</span>
    </h1>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-item ng-repeat='skill in category.skills'>
        <md-item-content>
          <div class="md-tile-content">
            <h3>{{skill.name}}</h3>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>