<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hacker Assessor</title>
  </head>
  <body>
    <h1>This is the Hacker Assessor login page</h1>
    <form method="post" action="/login" >
      <label>Name
        <input type="text" name="hacker">
      </label>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
