/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";

$background-ligth: #D8D8D8;
$background-dark: #616161;
$button-background: #4A4A4A;
$button-color: #BEBEBE;
$button-padding: 8px;
$button-height: 16px;
$button-outter-shadow: #4B4B4B;
$text-input-background: #6B6B6B;
$text-input-placeholder-color: #7E7E7E;
$text-input-inner-shadow: #646464;
$link-color: #8F8F8F;
$text-color: $link-color;

body {
  font-family: 'Share Tech Mono', sans-serif;
  height: 100vh;
}

@mixin button() {
  display: block;
  background: $button-background;
  border-radius: 2px;
  border-width: 0;
  font-size: 21px;
  color: $button-color;
  line-height: 24px;
  padding: 8px;
  margin: 10px 2px;
  text-decoration: none;
  @include transition( all 0.1s );
  @include transition( box-shadow 0.3s );

  &:hover {
    color: lighten($button-color, 20);
    background-color: lighten($button-background, 20);
    box-shadow: 4px 4px 2px black;
  }
}

section {
  @include outer-container(100%);
  height: 100%;
}

nav {
  @include span-columns(2, 'block-collapse');
  @include pad();
  background: $background-dark;
  height: inherit;
  overflow: auto;

  a.button {
    @include button();
  }
}

main {
  @include span-columns(10, 'block-collapse');
  @include pad();
  background: $background-ligth;
  height: inherit;
  overflow: auto;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 6.5px 0;
  color: $text-color;
  display: block;

  &[type='text'], &[type='password'] {
    @include placeholder {
      color: $text-input-placeholder-color;
    }

    background: $text-input-background;
    box-shadow: inset 0px 1px 0px 0px $text-input-inner-shadow;
    border-radius: 2px;
    border-width: 0;
    font-size: 18px;
    line-height: 24px;
  }

  &[type='submit'] {
    background: $button-background;
    box-shadow: 0px 2px 0px 0px $button-outter-shadow;
    border-radius: 5px;
    border-width: 0;
    font-size: 21px;
    color: $button-color;
    line-height: 24px;
  }
}

a {
  font-size: 11px;
  color: $link-color;
  line-height: 13px;

  &:visited {
    color: $link-color;
  }
}

.logo {
  margin-bottom: 30px;
}

.requirements , .seniorities , .acquirements {
  @include outer-container;

  li {
    @include span-columns(3);
    @include omega(4n);
    background-color: $text-input-background;
    min-height: 12em;
    text-align: center;
    margin-bottom: 2%;

    &.accomplished {
      background-color: #859900;
    }

    &.almost-accomplished {
      background-color: #B58900;
    }

    &.not-accomplished {
      background-color: #DC322F;
    }

    a {
      background: $button-background;
      box-shadow: 0px 2px 0px 0px $button-outter-shadow;
      border-radius: 2px;
      border-width: 0;
      font-size: 21px;
      color: $button-color;
      line-height: 24px;
      padding: 8px;
      display: inline-block;
      margin: 2px;
      text-decoration: none;
    }
  }
}
