<md-item>
    <md-item-content layout='row' layout-align="space-between center">
        <div flex="50" class="md-tile-content">
            <span>{{question.skill.name}}</span>
        </div>
        <div flex="25">
            <ha-stars level="question.experience.level"></ha-stars>
        </div>
        <div flex='25' layout='row'>
            <div flex="90">
                <md-slider 
                    md-discrete 
                    aria-label="" 
                    min="0" 
                    max="5" 
                    ng-model='question.experience.years'>
                </md-slider>
            </div>
        </div>
    </md-item-content>
</md-item>