<style>
    .star {
        margin-right: 2em;
    }

    .highlight {
        border-bottom: 1px solid black;
    }
</style>

<div layout='row'>   
    <div class='star' title='Never heard about.' ng-click="setLevel(1)">      
        <div 
            ng-show="level != 0" 
            class="icon-toggle-black icon-toggle-black-ic_star_black_24dp">
        </div>

        <div 
            ng-hide="level > 0"
            class="icon-toggle-black icon-toggle-black-ic_star_outline_black_24dp">
        </div>
    </div>

    <div class='star' title='Have heard but never tried.' ng-click="setLevel(2)">      
        <div 
            ng-show="level > 1" 
            class="icon-toggle-black icon-toggle-black-ic_star_black_24dp">
        </div>

        <div 
            ng-hide="level > 1"
            class="icon-toggle-black icon-toggle-black-ic_star_outline_black_24dp">
        </div>
    </div>
    
    <div class='star' title='Worked with at some grade.' ng-click="setLevel(3)">      
        <div 
            ng-show="level > 2" 
            class="icon-toggle-black icon-toggle-black-ic_star_black_24dp">
        </div>

        <div 
            ng-hide="level > 2"
            class="icon-toggle-black icon-toggle-black-ic_star_outline_black_24dp">
        </div>
    </div>
</div>